name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Test ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: actions/setup-python@v3
        with:
          python-version: "3.11"
          
      - name: Install package and test requirements
        run: python -m pip install .[test]
      
      - run: python -m pytest
